* {
    margin: 0px;
}

header {
    background-image: url(../banner/banner3.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1180px;
    height: 598px;
}

/* banner */

.textarea {
    text-align: end;
    padding-top: 116px;
    padding-left: 600px;
    padding-right: 100px;
}

.textarea h1 {
    font-weight: 700;
    font-size: 65px;
    color: white;
}

.textarea p {
    font-weight: 400;
    font-size: 16px;
    color: white;
    font-family: 'Work Sans';
    margin: 24px 0;
}

.primary-button {
    width: 160px;
    height: 64px;
    color: #005FAC;
    background-color: white;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
   
}
.primary-button:hover{
    width: 165px;
    height:67px;
   
    
}

/* main section  */
.section1 {
    display: flex;
    margin: 99px 150px;

}

.section1-textarea {
    padding-top: 160px;
    padding-right: 0px;
    width: 376px;
    height: 337.61px;
}

.section1-textarea h2 {
    font-weight: 700;
    font-size: 40px;
}

.section1-textarea p {
    font-weight: 400;
    font-size: 16px;
    font-family: 'Work Sans';
    color: #444343;
    padding: 20px 0;
}

.icon {
    height: 13px;
    width: 13x;
    margin-right: 10px;

}

.checkbox-paragraph {
    white-space: nowrap;
}

/* section1 done  */

/* bonus section  */
.bonus-section {
    display: flex;
    margin: 99px 150px;
}

.inroduction h3 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
    padding-top: 100px;

}

.inroduction p,
ul li {
    font-weight: 500;
    font-size: 18px;
    color: #737272;
    font-family: 'Work Sans';
}

.hire {
    background-color: #005FAC;
    color: white;
    width: 130px;
    height: 54px;
    font-weight: 600;
    font-size: 22px;
    border: 0;
    border-radius: 5px;
    margin-left: 12px;
    margin-top: 25px;
    margin-bottom: 40px;
}
.hire:hover{
    width: 135px;
    height: 58px;
    font-weight: 610;
    font-size: 24px;
}

/* section2 */
.section2 {

    text-align: center;
    margin: 99px 150px;
    padding-left: 80px;

}


.section2-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;

}

.skill-title {
    font-weight: 700;
    font-size: 30px;
    white-space: nowrap;
}

.skill-descrived {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
    font-family: 'Work Sans';
}

.item-of-skill {
    display: flex;
    justify-content: center;
    gap: 60px;
}

/* section3  */
.section3 {
    background-image: url(../images/watch.png), linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    border-radius: 8px;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    width: 860px;
    height: 240px;
    margin: 129px 200px;
}

.blend-image h3 {
    width: 459px;
    height: 94px;
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding-left: 60px;
    padding-top: 33px;
    margin-bottom: 20px;

}

.call-button {
    margin-left: 60px;
    width: 130px;
    height: 50px;
    font-weight: 600;
    font-size: 17px;
    color: #005FAC;
    border-radius: 6px;
    border: 0;
}
.call-button:hover{
    width: 135px;
    height: 53px;
    font-weight: 650;
    font-size: 17px;
}

/* footer section  */
.footer-section {
    background: #151414;
    width: 1180px;
    height: 500px;
}

.footer-elements {
    display: flex;
    margin: 129px 200px;
    color: white;
    gap: 280px;
    padding-top: 150px;
}

.future {
    font-weight: 700;
    font-size: 45px;
}

.future p {
    font-weight: 400;
    font-size: 16px;
    font-family:
        font-family: 'Work Sans';
}

br {
    margin-top: 20px;
}

a {

    text-decoration: none;
    margin-right: 10px;
}


.subscribe {
    font-weight: 600;
    font-size: 25px;
}

#email {
    width: 230px;
    height: 34px;
    margin-top: 35px;
    margin-bottom: 13px;
    border-color: white;
    border-radius: 5px;
    border
}

#subscribe-button {
    background: #005FAC;
    border-radius: 5px;
    color: white;
    border: 0;
    width: 90.11px;
    height: 34px;
}
#subscribe-button:hover{
    background:red;
    border-radius: 6px;
    color: yellow;
    border: 0;
    width: 90.11px;
    height: 34px;
    
}
/* done without extra section  */